<!DOCTYPE html>
<!-- saved from url=(0049)http://pvwebco.com/ticketing_systems/storage.html -->
<html lang="en" class=" js flexbox no-touch"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Frequently Asked Questions | Hitech Electronic Services</title>

    <!-- Styling -->
    <link rel="stylesheet" href="{{ asset('bundles/hes/css/style_popup.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/hes/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/hes/css/magnific-popup.css') }}">

        <script src="{{ asset('bundles/hes/js/modernizr.custom.24530.js') }}"></script>
        
        {{ render( controller('HESIndiaBundle:Default:favicon' ) ) }}

<style type="text/css" id="main-nav-css">@media (min-width: 1200px) { .header__container::before { bottom: 30px; } .header__container::after { bottom: 60px; } }
</style></head>
<body>
	
	<!-- MAIN PAGE CONTAINER -->
	<div class="boxed-container">
		
            
            {% if email != 'nothing' %}
            {{ render( controller('HESIndiaBundle:Default:sessionHeaderTemplate' , { 'email' : email } ) ) }}
            {% elseif email == 'nothing' %}
		{{ render( controller('HESIndiaBundle:Default:headerTemplate' ) ) }}
            {% endif %}
		
		<!-- MAIN TITLE -->
		<div class="main-title">
			<div class="container">
				<h1 class="main-title__primary">Frequently Asked Questions</h1>
			</div>
		</div><!-- /.main-title -->
		
		<!-- BREADCRUMBS -->
		<div class="breadcrumbs">
			<div class="container">
				<span>
					<a class="home" href="{{ path('hes_welcome-page') }}" title="Go to HomePage." rel="v:url">HOME</a>
				</span>
				<span>
					<a class="home" href="{{ path('faq') }}" title="Frequently Asked Questions" rel="v:url">Frequently Asked Questions</a>
				</span>
			</div>
		</div><!-- /.breadcrumbs -->
		
		<div class="container">
			
			<div class="row">
				
				<main class="col-xs-12 col-md-9 col-md-push-3">
					
					<div class="row margin-bottom-30">
						
						<div class="col-sm-6" style="width:100%; text-align:justify">
					
                                        <hr />
                                                    {% for data in faq %}
                                            <h4>{{ 'Q. ' ~ data.question }}</h4>
					<p style="font-size:17px;">
						<b>{{ 'Ans: ' }} </b> {{ data.answer|raw }}
					</p>
                                        <hr />
                                                    {% endfor %}
					
						</div><!-- /.col -->
						
					</div><!-- /.row -->
					
				</main><!-- /.col -->
				
				{{ render( controller('HESIndiaBundle:Default:sidebarTemplate', { 'activelink' : 'faq'} ) ) }}
				
			</div><!-- /.row -->
			
		</div><!-- /.container -->
		
		{{ render( controller('HESIndiaBundle:Default:footerTemplate' ) ) }}
		
	</div><!-- /.boxed-container -->
	
    <script src="{{ asset('bundles/hes/js/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ asset('bundles/hes/js/carousel.js') }}"></script>
    <script src="{{ asset('bundles/hes/js/transition.js') }}"></script>
    <script src="{{ asset('bundles/hes/js/button.js') }}"></script>
    <script src="{{ asset('bundles/hes/js/collapse.js') }}"></script>
    <script src="{{ asset('bundles/hes/js/validator.js') }}"></script>
    <script src="{{ asset('bundles/hes/js/underscore.js') }}"></script>
    <script src="{{ asset('bundles/hes/js/custom.js') }}"></script>
    <script src="{{ asset('bundles/hes/js/jquery-ui.js') }}"></script>
    

</body></html>