<!-- FOOTER -->
		<footer class="footer">
			
			<div class="footer-top">
				
				<div class="container">
					
					<div class="row">
						
						<div class="col-xs-12 col-md-4">
							
							<!--<p>
								<img alt="logo-footer" src="images/logo-footer.png" class="logo">
							</p>-->
                            <h6 class="footer-top__headings text-uppercase">Hitech Electronic Services</h6>
                            <p style="text-align:justify; width:90%;">Team of experts delivering the state-of-art electronic products servicing at a reasonable and fair price range without compromising in the quality with 30-day warranty period.</p>
							<p>
								<a target="_blank" href="https://www.facebook.com/hesindianet" class="icon-container icon-container--square">
									<span class="fa fa-facebook"></span>
								</a>
								<a target="_blank" href="https://twitter.com/HESIndianet" class="icon-container icon-container--square">
									<span class="fa fa-twitter"></span>
								</a>
								<!--<a target="_blank" href="http://themeforest.net/" class="icon-container icon-container--square">
									<span class="fa fa-google-plus"></span>
								</a>
								<a target="_blank" href="https://www.youtube.com/" class="icon-container icon-container--square">
									<span class="fa fa-youtube-play"></span>
								</a>
                                                                -->
							</p>
							
						</div><!-- /.row -->
						
						<div class="col-xs-12 col-md-2">
							
							<div class="widget_nav_menu">
								<h6 class="footer-top__headings">NAVIGATION</h6>
								<ul>
									<li>
										<a href="{{path('homepage')}}">Home</a>
									</li>
									<li>
										<a href="{{path('about_us')}}" target="_blank">About Us</a>
									</li>
                                    <li>
                                        <a href="{{ path('services', { activelink : 'DRS' } ) }}">Services</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('contacttwo') }}">Contact Us</a>
                                    </li>
                                    {#<li>
                                        <a href="{{ path('contact_us') }}">Contact Us</a>
                                    </li>
                                    #}
								</ul>
							</div><!-- /.widget_nav_menu -->
							
						</div><!-- /.row -->
						
						<div class="col-xs-12 col-md-2">
							
							<div class="widget_nav_menu">
								
								<h6 class="footer-top__headings">QUICK LINKS</h6>
                                <ul>
                                    <li>
                                        <a href="{{ path('faq') }}">FAQ's</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('terms') }}">Terms &amp; Conditions</a>
                                    </li>
                                    <li>
                                        <a href=" {{ path('privacy') }} ">Privacy Policy</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('homepage') }}">Feedback</a>
                                    </li>



                                </ul>
								
							</div><!-- /.widget_nav_menu -->
							
						</div><!-- /.row -->
						
						<div class="col-xs-12 col-md-4">

                            <h6 class="footer-top__headings">OFFICE LOCATION</h6>
                            <p>
                                        HITECH ELECTRONIC SERVICES <br /> #828, Ground Floor, 14th Main, <br />Gubbi Veeranna Road(6th Cross), <br />Hanumanthanagara, Bengaluru - 560 019 <br /> <br />
                                        <i class="fa fa-headphones"></i> : 080-266 159 75 <br /><i class="fa fa-envelope-o"></i> : pmgowda@hesindia.net
                            </p>
							{#<p>
								<a target="_blank" href="http://pvwebco.com/ticketing_systems/#" class="btn btn-info">SUBMIT A TICKET</a>
							</p>
                                                        #}
							
						</div><!-- /.row -->
						
					</div><!-- /.row -->
					
				</div><!-- /.footer -->
				
                        <span id="siteseal" style="margin-left: 600px;">
                            <script type="text/javascript" 
                            src="http://seal.godaddy.com/getSeal?sealID=6KAAhM1CXSVXrpYmWW5hNxQdn6J8AYo3fpJCpiQOblZ2sAjSoPBfaX3OXgFN"></script>
                            <!--<img style="cursor:pointer;cursor:hand" src="https://seal.godaddy.com/images/3/en/siteseal_gd_3_h_l_m.gif" 
                                        onclick="verifySeal();" alt="SSL site seal - click to verify">-->
                        </span>
			</div><!-- /.footer-top -->
			
			<div class="footer-bottom">
				
				<div class="container">
					
					<div class="footer-bottom__left">
						Powered by <a target="_blank" href="https://www.agkiyatechnologies.com/">
                                                        <img style="width: 100px; height:30px;" src="{{ asset('bundles/hes/images/agkiya.png') }}" /></a>.
					</div>
					
					<div class="footer-bottom__right">
                        Copyright © 2015 Ticketing Systems. All rights reserved.
					</div>
					
				</div><!-- /.container -->
				
			</div><!-- /.footer-bottom -->
			
		</footer>