

<!-- TOP BAR -->
		<div class="top">
			
			<div class="container">
 
				<div class="top__tagline">Welcome to Hitech Electronic Service</div>
				
				<nav class="top__menu">
					<ul class="top-navigation js-dropdown">
                        <li>
							<a href="{{ path('faq') }}">FAQ's</a>
						</li>
						<li>
							<a href="{{ path('terms') }}">Terms &amp; Conditions</a>
						</li>
                        <li>
                            <a href="{{ path('privacy') }}">Privacy Policy</a>
                        </li>
					</ul> 
				</nav>
			
			</div><!-- /.container -->
		
		</div><!-- /.top -->
		
		<!-- HEADER -->
		<div class="header__container">
			
			<div class="container">
				
				<header class="header">
					
					<div class="header__logo" style="padding-top: 20px;">
						<a href="{{ path('hes_welcome-page') }}">

							<img class="img-responsive" srcset="{{ asset('bundles/hes/images/hes_new_logo.png, bundles/hes/images/hes_new_logo.png') }}" alt="HES_logo">
						</a>
						<button data-target="#cargopress-navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
							<span class="navbar-toggle__text">MENU</span>
							<span class="navbar-toggle__icon-bar">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</span>
						</button>
					</div><!-- /.header__logo -->
					
					<div class="header__navigation">
						<nav class="collapse navbar-collapse" id="cargopress-navbar-collapse">
							<ul class="main-navigation js-main-nav js-dropdown">
								<li> {# class="current-menu-item">  #}
									<a href="{{ path('hes_welcome-page') }}">Home</a>
									<!--<ul role="menu" class="sub-menu">
										<li><a href="index.html">Default homepage</a></li>
										<li><a href="index_video.html">Homepage with video</a></li>
										<li><a href="index_static.html">Homepage with static image</a></li>
									</ul>-->
								</li>
								<li class="">
									<a href="{{ path('about_us') }}">About Us</a>
								</li>
								<li><a href="{{ path('services', { 'activelink' : 'DRS' }) }}">Services</a>
                                                                    
                                                                    <ul role="menu" class="sub-menu">
										<li><a href="{{ path('services', { 'activelink' : 'DRS' }  ) }}">Drive Repairing Services</a></li>
                                                                                <li><a href="{{ path('services', { 'activelink' : 'IRS' }  )}}">Instrument Repairing Services</a></li>
                                                                                <li><a href="{{ path('services', { 'activelink' : 'SSRS' }  )}}">Soft Start Repairing Services</a></li>
                                                                                <li><a href="{{ path('services', { 'activelink' : 'CRS' }  )}}">Controller Repairing Services</a></li>
                                                                                <li><a href="{{ path('services', { 'activelink' : 'TPRS' }  )}}">Teach Pendant Repairing Services</a></li>
                                                                                <li><a href="{{ path('services', { 'activelink' : 'HMIRS' }  )}}">HMI Repairing Services</a></li>
                                                                                <li><a href="{{ path('services', { 'activelink' : 'CNCRS' }  )}}">CNC Repairing Services</a></li>
                                                                                <li><a href="{{ path('services', { 'activelink' : 'PSRS' }  )}}">Power Supply Repairing Services</a></li>
                                                                                <li><a href="{{ path('services', { 'activelink' : 'BURS' }  )}}">Braking Unit Repairing Services</a></li>
                                                                                <li><a href="{{ path('services', { 'activelink' : 'CBRS' }  )}}">Circuit Board Repairing Services</a></li>
                                                                                <li><a href="{{ path('services', { 'activelink' : 'PLCRS' }  )}}">PLC Repairing Services</a></li>
									</ul>

                                                                </li>
								<li><a href="#imagegallerylink">Image Gallery</a></li>
								<li><a href="{{ path('contacttwo') }}">Contact</a></li>
							</ul>
						</nav>
					</div><!-- /.header__navigation -->
					
					<div class="header__widgets">
						
						<div class="widget-icon-box">
							
							<div class="icon-box">	
								<i class="fa fa-headphones"></i>
								<h4 class="icon-box__title">Call Us Anytime</h4>
								<span class="icon-box__subtitle">+91 855 300 3025</span>
							</div>
						
						</div>
						
						<div class="widget-icon-box">

                            <div class="icon-box">
                                <i class="fa fa-clock-o"></i>
                                <h4 class="icon-box__title">Working Hours</h4>
                                <span class="icon-box__subtitle">9:30 AM - 6:30 PM</span>
                            </div>
						
						</div>
					
						<div class="widget-icon-box">

                            <div class="icon-box">
                                <i class="fa fa-envelope-o"></i>
                                <h4 class="icon-box__title">Email Us</h4>
                                <span class="icon-box__subtitle">pmgowda@hesindia.net</span>
                            </div>
							
                                                </div>

                        <nav class="main-nav">
                            <ul>
                                <!-- inser more links here -->
                                <!--<li><a class="cd-signin" href="#0">Sign in</a></li>-->
                                <li><a class="btn btn-info cd-signin">LOGIN</a></li>
                            </ul>
                        </nav>


                        {#<a href="http://pvwebco.com/ticketing_systems/Signup-page.html" class="btn btn-info" id="button_requestQuotes" style="margin-left: 10px;">SIGN UP</a>#}
				
					</div><!-- /.header__widgets -->
				
					<div class="header__navigation-widgets">
						<a target="_blank" href="https://www.facebook.com/hesindianet" class="social-icons__link"><i class="fa fa-facebook"></i></a>
						<a target="_blank" href="https://twitter.com/HESIndianet" class="social-icons__link"><i class="fa fa-twitter"></i></a>
						<!--
                                                <a target="_blank" href="https://plus.google.com/" class="social-icons__link"><i class="fa fa-google-plus"></i></a>
						<a target="_blank" href="https://www.youtube.com/" class="social-icons__link"><i class="fa fa-youtube"></i></a>
                                                -->
					</div>

				</header>

			</div><!-- /.container -->
		
		</div><!-- /.header__container -->