<!DOCTYPE html>
<!-- saved from url=(0055)http://pvwebco.com/ticketing_systems/admin-profile.html -->
<html lang="en" class=" js flexbox no-touch"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Referrer Profile | Ticketing Software</title>

    <!-- Styling -->
    <link rel="stylesheet" href="{{ asset('bundles/hes/css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/hes/css/style_popup.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/hes/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/hes/css/demo.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/hes/css/magnific-popup.css') }}">

    <script src="{{ asset('bundles/hes/js/modernizr.custom.24530.js') }}"></script>
    
    {{ render( controller('HESIndiaBundle:Default:favicon' ) ) }}

<style type="text/css" id="main-nav-css">@media (min-width: 1200px) { .header__container::before { bottom: 30px; } .header__container::after { bottom: 60px; } }</style></head>
<body>
	
	<!-- MAIN PAGE CONTAINER -->
	<div class="boxed-container">

{{ render( controller('HESIndiaBundle:Default:sessionHeaderTemplate' , { 'email' : email } ) ) }}		
		<!-- MAIN TITLE -->
		<div class="main-title">
			<div class="container">
                <h1 class="main-title__primary" style="border-bottom: 1px solid #e1e1e1;">Referrer Profile
                    <a target="_self" href="{{ path('edit_referrer', { 'ref_id' : ref_id }) }}" class="btn btn-info" id="button_requestQuotep" style="float: right; margin-left: 10px; padding-left: 15px; padding-right: 15px; letter-spacing: 0px;"><i class="fa fa-pencil"></i></a>
                   
                </h1>
			</div>
		</div><!-- /.main-title -->

    <!--<div class="container">
       &lt;!&ndash; <div class="col-md-3">
            <input type="text" placeholder="Search Here" aria-invalid="false" aria-required="true" size="40" value="" name="subject" required="" style="border: 1px solid #e1e1e1;">
        </div>
        <div class="col-md-3">
            <input type="text" placeholder="dd/mm/yyyy" aria-invalid="false" aria-required="true" size="40" value="" name="subject" required="" style="border: 1px solid #e1e1e1;">
        </div>&ndash;&gt;

        <div class="col-md-3">
            <select aria-invalid="false" name="service" style="border: 1px solid #e1e1e1;">
                <option value="Cargo">Status</option>
                <option value="Ground Transport">Internet</option>
                <option value="Logistic Service">News</option>
                <option value="Storage">Email</option>
            </select>
        </div><div class="col-md-3">
        <select aria-invalid="false" name="service" style="border: 1px solid #e1e1e1;">
            <option value="Cargo">Engineer</option>
            <option value="Ground Transport">Internet</option>
            <option value="Logistic Service">News</option>
        </select>
    </div>
    </div>-->
		
		<div class="container">
			
			<div class="row">
				
                <div class="col-xs-12 col-md-9">
                     <div class="col-sm-3 " style="margin-top: 23px;">
                          <img src="{{ asset('bundles/hes/images/no-profile-img.gif') }}" alt="teja" style="width:174px;height:190px;">
                     </div>
                     <div class="col-sm-6 " style="margin-top: 23px;">
                            <div class="col-sm-6 " style="margin-top: 23px;">
                                <p>Referrer Name</p>
                                <p>Referrer Id</p>
                                <p>Email ID</p>
                                <p>Mobile Number</p>
                            </div> 
                            <div class="col-sm-6 " style="margin-top: 23px;">
                                <p>{{userInfo.ReferrerName}}</p>
                                <p>{{userInfo.ReferrerId}}</p>
                                <p>{{userInfo.Email}}</p>
                                <p>{{userInfo.MobileNo}}</p>
                            </div> 
                    </div>
                    <div class="col-xs-12 col-md-9">
                       <div class="col-sm-6 " style="margin-top: 23px;">
                            <div class="col-sm-6 " style="margin-top: 23px;">
                                <p>Address1</p>
                                <p>Address2</p>
                                <p>City</p>
                               
                            </div> 
                            <div class="col-sm-6 " style="margin-top: 23px;">
                                <p>{{userInfo.Address1}}</p>
                                <p>{{userInfo.Address2}}</p>
                                <p>{{userInfo.City}}</p>
                                
                            </div> 
                        </div>
                        <div class="col-sm-6 " style="margin-top: 23px;">
                            <div class="col-sm-6 " style="margin-top: 23px;">
                                <p>Address2</p>
                                <p>State</p>
                                <p>Pincode</p>
                                
                            </div> 
                            <div class="col-sm-6 " style="margin-top: 23px;">
                                <p>{{userInfo.Address2}}</p>
                                <p>{{userInfo.State}}</p>
                                <p>{{userInfo.Pincode}}</p>
                                
                            </div> 
                        </div> 
                    </div>          
                </div>
                </div>
                
			</div><!-- /.row -->
			
		</div><!-- /.container -->
		
    {{ render( controller('HESIndiaBundle:Default:footerTemplate' ) ) }}
		
	</div><!-- /.boxed-container -->

<script src="{{ asset('bundles/hes/js/jquery-2.1.4.min.js') }}"></script>
<script src="{{ asset('bundles/hes/js/carousel.js') }}"></script>
<script src="{{ asset('bundles/hes/js/transition.js') }}"></script>
<script src="{{ asset('bundles/hes/js/button.js') }}"></script>
<script src="{{ asset('bundles/hes/js/collapse.js') }}"></script>
<script src="{{ asset('bundles/hes/js/validator.js') }}"></script>
<script src="{{ asset('bundles/hes/js/underscore.js') }}"></script>
<script src="{{ asset('bundles/hes/js/custom.js') }}"></script>
<script src="{{ asset('bundles/hes/js/jquery-ui.js') }}"></script>
<script>
        $(function() {
            $( "#datepicker" ).datepicker();
        });
</script>
	

</body></html>