<!DOCTYPE html>
<!-- saved from url=(0049)http://pvwebco.com/ticketing_systems/storage.html -->
<html lang="en" class=" js flexbox no-touch"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Terms &amp; Conditions | Hitech Electronic Services</title>

    <!-- Styling -->
    <link rel="stylesheet" href="{{ asset('bundles/hes/css/style_popup.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/hes/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/hes/css/magnific-popup.css') }}">

        <script src="{{ asset('bundles/hes/js/modernizr.custom.24530.js') }}"></script>
        
        {{ render( controller('HESIndiaBundle:Default:favicon' ) ) }}

<style type="text/css" id="main-nav-css">@media (min-width: 1200px) { .header__container::before { bottom: 30px; } .header__container::after { bottom: 60px; } }

    div.col-sm-6 p, div.col-sm-6 ul li
    {
        font-size : 16px;
    }
    </style></head>
<body>
	
	<!-- MAIN PAGE CONTAINER -->
	<div class="boxed-container">
		
		{% if email != 'nothing' %}
                    {{ render( controller('HESIndiaBundle:Default:sessionHeaderTemplate' , { 'email' : email } ) ) }}
                {% elseif email == 'nothing' %}
                    {{ render( controller('HESIndiaBundle:Default:headerTemplate' ) ) }}
                {% endif %}
		
		<!-- MAIN TITLE -->
		<div class="main-title">
			<div class="container">
				<h1 class="main-title__primary">Terms &amp; Conditions</h1>
			</div>
		</div><!-- /.main-title -->
		
		<!-- BREADCRUMBS -->
		<div class="breadcrumbs">
			<div class="container">
				<span>
					<a class="home" href="{{ path('hes_welcome-page') }}" title="Go to HomePage." rel="v:url">HOME</a>
				</span>
				<a class="home" href="{{ path('terms') }}" title="Terms &amp; Conditions" rel="v:url">Terms &amp; Conditions</a>
			</div>
		</div><!-- /.breadcrumbs -->
		
		<div class="container">
			
			<div class="row">
				
				<main class="col-xs-12 col-md-9 col-md-push-3">
					
					<div class="row margin-bottom-30">
						
						<div class="col-sm-6" style="width:100%; text-align:justify">
							<h3>Introduction</h3>
							<p>
								These terms and conditions govern your use of this website; by using this website, you accept these terms and conditions in full.   If you disagree with these terms and conditions or any part of these terms and conditions, you must not use this website.
							</p>
							
							<p>
								You must be at least 18 years of age to use this website.  By using this website and by agreeing to these terms and conditions you warrant and represent that you are at least 18 years of age.
							</p>							
							
							<p>
								This website uses cookies.  By using this website and agreeing to these terms and conditions, you consent to our <b>Hitech Electronic Service</b> use of cookies in accordance with the terms of <b>Hitech Electronic Service</b> privacy policy / cookies policy.
							</p>	
                                                        
                                                        <h3>License to use website</h3>
                                                        
							<p>
								Unless otherwise stated, <b>Hitech Electronic Service</b> and/or its licensors own the intellectual property rights in the website and material on the website.  Subject to the license below, all these intellectual property rights are reserved.
							</p>							
							<p>
								You may view, download for caching purposes only, and print pages from the website for your own personal use, subject to the restrictions set out below and elsewhere in these terms and conditions.
							</p>							
                                                        <p>
                                                                You must not:
                                                        </p>
                                                            <ul>
                                                                <li>republish material from this website</li>
                                                                <li>sell, rent or sub-license material from this website</li>
                                                                <li>show any material from the website in public</li>
                                                                <li>reproduce, duplicate, copy or otherwise exploit material on this website for a commercial purpose</li>
                                                                <li>edit or otherwise modify any material on the website; or</li>
                                                                <li>redistribute material from this website, except for content specifically and expressly made available for redistribution.</li>
                                                            </ul>
                                                        
                                                        <h3>Acceptable Use</h3>
                                                        <p>
                                                                You must not use this website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of the website; or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.
                                                        </p>
                                                        <p>
                                                                You must not use this website to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer software.
                                                        </p>
 
                                                        <p>
                                                                You must not conduct any systematic or automated data collection activities (including without limitation scraping, data mining, data extraction and data harvesting) on or in relation to this website without <b>Hitech Electronic Service</b> express written consent.
                                                        </p>
                                                        
                                                        <h3>User Content</h3>
                                                        <p>
                                                                In these terms and conditions, "your user content" means material (including without limitation text, images, audio material, video material and audio-visual material) that you submit to this website, for whatever purpose.
                                                        </p>
                                                        <p>
                                                                You grant to <b>Hitech Electronic Service</b> a worldwide, irrevocable, non-exclusive, royalty-free license to use, reproduce, adapt, publish, translate and distribute your user content in any existing or future media.  You also grant to <b>Hitech Electronic Service</b> the right to sub-license these rights, and the right to bring an action for infringement of these rights.
                                                        </p>
                                                        <p>
                                                                Your user content must not be illegal or unlawful, must not infringe any third party's legal rights, and must not be capable of giving rise to legal action whether against you or <b>Hitech Electronic Service</b> or a third party (in each case under any applicable law). 
                                                        </p>
                                                        <p>
                                                                You must not submit any user content to the website that is or has ever been the subject of any threatened or actual legal proceedings or other similar complaint.
                                                        </p>
                                                        <p>
                                                                <b>Hitech Electronic Service</b> reserves the right to edit or remove any material submitted to this website, or stored on <b>Hitech Electronic Service</b>'s servers, or hosted or published upon this website.
                                                        </p>
                                                        
                                                        <h3>No Warranties</h3>
                                                        
                                                        <p>
                                                            This website is provided "as is" without any representations or warranties, express or implied.  <b>Hitech Electronic Service</b> makes no representations or warranties in relation to this website or the information and materials provided on this website. 
                                                        </p>
                                                        <p>
                                                                Without prejudice to the generality of the foregoing paragraph, <b>Hitech Electronic Service</b> does not warrant that:
                                                        </p>
                                                            <ul>
                                                                <li>this website will be constantly available, or available at all; or</li>
                                                                <li>the information on this website is complete, true, accurate or non-misleading.</li>
                                                            </ul>
                                                        
                                                        <p>Nothing on this website constitutes, or is meant to constitute, advice of any kind.  [If you require advice in relation to any [legal, financial or medical] matter you should consult an appropriate professional.]</p>
                                                        
                                                        <h3>
                                                                Limitations of liability
                                                        </h3>
                                                        <p>
                                                            <b>Hitech Electronic Service</b> will not be liable to you (whether under the law of contact, the law of torts or otherwise) in relation to the contents of, or use of, or otherwise in connection with, this website:
                                                        </p>
                                                        <ul>
                                                            <li>to the extent that the website is provided free-of-charge, for any direct loss;</li>
                                                            <li>for any indirect, special or consequential loss; or</li>
                                                            <li>for any business losses, loss of revenue, income, profits or anticipated savings, loss of contracts or business relationships, loss of reputation or goodwill, or loss or corruption of information or data.</li>
                                                        </ul>
                                                        
                                                        <p>These limitations of liability apply even if <b>Hitech Electronic Service</b> has been expressly advised of the potential loss.</p>
                                                        
                                                        <h3>Exceptions</h3>
                                                        <p>Nothing in this website disclaimer will exclude or limit any warranty implied by law that it would be unlawful to exclude or limit; and nothing in this website disclaimer will exclude or limit <b>Hitech Electronic Service</b>'s liability in respect of any:</p>
                                                            
                                                        <ul>
                                                            <li>death or personal injury caused by <b>Hitech Electronic Service</b>'s negligence;</li>
                                                            <li>fraud or fraudulent misrepresentation on the part of <b>Hitech Electronic Service</b>; or</li>
                                                            <li>matter which it would be illegal or unlawful for <b>Hitech Electronic Service</b> to exclude or limit, or to attempt or purport to exclude or limit, its liability. </li>
                                                        </ul>
                                                        
                                                        <h3>Reasonableness</h3>
                                                        <p>By using this website, you agree that the exclusions and limitations of liability set out in this website disclaimer are reasonable.</p>
                                                        <p>If you do not think they are reasonable, you must not use this website.</p>
                                                        
                                                        <h3>Other parties</h3>
                                                        <p>You accept that, as a limited liability entity, <b>Hitech Electronic Service</b> has an interest in limiting the personal liability of its officers and employees.  You agree that you will not bring any claim personally against <b>Hitech Electronic Service</b>'s officers or employees in respect of any losses you suffer in connection with the website.</p>
                                                        <p>you agree that the limitations of warranties and liability set out in this website disclaimer will protect <b>Hitech Electronic Service</b> officers, employees, agents, subsidiaries, successors, assigns and sub-contractors as well as <b>Hitech Electronic Service</b>.</p>
                                                        
                                                        <h3>Unenforceable provisions</h3>
                                                        <p>If any provision of this website disclaimer is, or is found to be, unenforceable under applicable law, that will not affect the enforceability of the other provisions of this website disclaimer.</p>
                                                        
                                                        <h3>Indemnity</h3>
                                                        <p>You hereby indemnify <b>Hitech Electronic Service</b> and undertake to keep <b>Hitech Electronic Service</b> indemnified against any losses, damages, costs, liabilities and expenses (including without limitation legal expenses and any amounts paid by <b>Hitech Electronic Service</b> to a third party in settlement of a claim or dispute on the advice of <b>Hitech Electronic Service</b>'s legal advisers) incurred or suffered by <b>Hitech Electronic Service</b> arising out of any breach by you of any provision of these terms and conditions[, or arising out of any claim that you have breached any provision of these terms and conditions].</p>
                                                        
                                                        <h3>Breaches of these terms and conditions</h3>
                                                        <p>Without prejudice to <b>Hitech Electronic Service</b>'s other rights under these terms and conditions, if you breach these terms and conditions in any way, <b>Hitech Electronic Service</b> may take such action as <b>Hitech Electronic Service</b> deems appropriate to deal with the breach, including suspending your access to the website, prohibiting you from accessing the website, blocking computers using your IP address from accessing the website, contacting your internet service provider to request that they block your access to the website and/or bringing court proceedings against you.</p>
                                                        
                                                        <h3>Variation</h3>
                                                        <p><b>Hitech Electronic Service</b> may revise these terms and conditions from time-to-time.  Revised terms and conditions will apply to the use of this website from the date of the publication of the revised terms and conditions on this website.  Please check this page regularly to ensure you are familiar with the current version.</p>
                                                        
                                                        <h3>Assignment</h3>
                                                        <p><b>Hitech Electronic Service</b> may transfer, sub-contract or otherwise deal with <b>Hitech Electronic Service</b>'s rights and/or obligations under these terms and conditions without notifying you or obtaining your consent.</p>
                                                        
                                                        <p>You may not transfer, sub-contract or otherwise deal with your rights and/or obligations under these terms and conditions.</p>
                                                        
                                                        <h3>Severability</h3>
                                                        <p>If a provision of these terms and conditions is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions will continue in effect.  If any unlawful and/or unenforceable provision would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue in effect.</p>
                                                        
                                                        <h3>Entire Agreement</h3>
                                                        <p>These terms and conditions constitute the entire agreement between you and <b>Hitech Electronic Service</b> in relation to your use of this website, and supersede all previous agreements in respect of your use of this website.</p>
                                                        
                                                        <h3>Law and jurisdiction</h3>
                                                        <p>These terms and conditions will be governed by and construed in accordance with Governing Law, and any disputes relating to these terms and conditions will be subject to the [non-]exclusive jurisdiction of the courts of Jurisdication.</p>
                                                        
                                                        
						</div><!-- /.col -->
						
					</div><!-- /.row -->
					
				</main><!-- /.col -->
				
				{{ render( controller('HESIndiaBundle:Default:sidebarTemplate', { 'activelink' : 'terms'} ) ) }}
				
			</div><!-- /.row -->
			
		</div><!-- /.container -->
		
		{{ render( controller('HESIndiaBundle:Default:footerTemplate' ) ) }}
		
	</div><!-- /.boxed-container -->
		
    <script src="{{ asset('bundles/hes/js/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ asset('bundles/hes/js/carousel.js') }}"></script>
    <script src="{{ asset('bundles/hes/js/transition.js') }}"></script>
    <script src="{{ asset('bundles/hes/js/button.js') }}"></script>
    <script src="{{ asset('bundles/hes/js/collapse.js') }}"></script>
    <script src="{{ asset('bundles/hes/js/validator.js') }}"></script>
    <script src="{{ asset('bundles/hes/js/underscore.js') }}"></script>
    <script src="{{ asset('bundles/hes/js/custom.js') }}"></script>
    <script src="{{ asset('bundles/hes/js/jquery-ui.js') }}"></script>


</body></html>